@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}
#flexbox {
    display: flex;
    text-align: center;
}

.col {
  width: 50%;
}

ul {
  font-size: 20px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: red;

}

header {
  border: 6px solid white;
  border-radius:15px;
  padding: 15px 25px;
  filter: drop-shadow(0 0 15px white) drop-shadow(0 0 50px white) contrast(2) brightness(2);
  width: fit-content;
  margin: 0 auto;
}


h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: tahoma;
    letter-spacing:5px;
    font-weight: bold;
  }

  footer {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }