.row1 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
}

.row2 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.row2 section {
    display: flex;
    font-size: 20px;
    gap: 20px;
}
.row2 li {
    list-style-type: none;
    display:inline-block;
}
.row2 a:link {
    text-decoration: none;
}