@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 12px;
}

.row1 section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.row2 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px;
}

.row2 section {
    display: flex;
    font-size: 20px;
    gap: 20px;
}

.row2 li {
    list-style-type: none;
    display: inline-block;
}

.row2 a:link {
    text-decoration: none;
    margin: 10px;
}

.row2 a {
    color: black;
}

#video video {
    width: 100%;
}

#minishop {
    margin-left: 3%;
    margin-right: 3%;
}
#minishop img {
    width: 100%;
}
.trending {
    margin: 20px;
    font-size: 25px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

#sportkleding {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

#sportkleding img {
    width: 100%;
}

#sportkleding p {
    color: gray;
}
.flex-container-sportkleding {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item-sportkleding {
    flex: 1;
}

#gender {
    margin-left: 3%;
    margin-right: 3%;
}

#gender img {
    width: 100%;
}

.ontdek-meer-titel {
    margin-bottom: 35px;
    margin-top: 100px;
    font-size: 25px;
}

.ontdek-meer {
    display: flex;
    gap: 2rem;
}

figure {
    position: relative;
}

.figcaption-1 {
    position: absolute;
    bottom: 12%;
    left: 10%;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    border: 1.5px solid transparent;
    align-items: center;
}

.figcaption-2 {
    position: absolute;
    bottom: 12%;
    left: 40%;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    border: 1.5px solid transparent;
    align-items: center;
}

#sport {
    margin-left: 5%;
}

.shop-op-sport-titel {
    margin-bottom: 35px;
    margin-top: 100px;
    font-size: 25px;
}

#sport img {
    width: 100%;
}

.flex-container-shop-op-sport {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 20px;
    margin-right: 100px;
}

.flex-item-shop-op-sport {
    flex: 1;
}

.membership-titel {
    margin-bottom: 35px;
    margin-top: 100px;
    font-size: 25px;
    margin-left: 50px;
}

#membership {
    margin-left: 3%;
    margin-right: 3%;
}

#membership img {
    width: 100%;
}

.flex-container-membership {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.flex-item-membership {
    flex: 1;
}

.flex-container-footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #666;
}

footer .flex-container-footer:first-child {
    margin-bottom: 2rem;
}

footer ul li a {
    color: #666;
    text-decoration: none;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
    color: rgb(151, 151, 151);
}

footer ul li:first-child a, footer ul:first-child li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer i {
    margin-left: 1ch;
    font-size: 1.6rem;
}
footer a i {
    color: #666;
}

footer i:hover {
    transform: scale(1.1);
}